<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tztHQWuDangFont</key>
	<string>11</string>
	<key>tztBackgroundColor</key>
	<string>48,48,48</string>
	<key>tztBackgroundColorJY</key>
	<string>48,48,48</string>
	<key>tztBackgroundColorHQ</key>
	<string>48,48,48</string>
	<key>tztBackgroundColorZX</key>
	<string>48,48,48</string>
	<key>tztBackgroundColorTitle</key>
	<string>34,35,36</string>
	<key>tztViewBGColorTitle_Trend</key>
	<string>34,35,36</string>
	<key>tztBackgroundColorEdit</key>
	<string>255,255,255</string>
	<key>tztViewBGColorSection</key>
	<string>41,41,41</string>
	<key>tztViewBGColorSectionSel</key>
	<string>60,60,60</string>
	<key>tztViewBGColorTableJY</key>
	<string>14,16,20</string>
	<key>tztViewBGColorTag</key>
	<string>34,35,36</string>
	<key>tztTextColorNormal</key>
	<string>255,255,255</string>
	<key>tztTextColorLabel</key>
	<string>255,255,255</string>
	<key>tztTextColorButton</key>
	<string>81,81,81</string>
	<key>tztTextColorButtonSel</key>
	<string>56,117,197</string>
	<key>tztTextColorEditor</key>
	<string>0,0,0</string>
	<key>tztTextColorSection</key>
	<string>220,220,220</string>
	<key>tztTextColorReportTitle</key>
	<string>34,34,34</string>
	<key>tztTextColorTag</key>
	<string>220,220,220</string>
	<key>tztTextColorTagSel</key>
	<string>255,255,255</string>
	<key>tztBorderColor</key>
	<string>41,41,41</string>
	<key>tztBorderColorLabel</key>
	<string>41,41,41</string>
	<key>tztBorderColorEditor</key>
	<string>41,41,41</string>
	<key>tztBorderColorGrid</key>
	<string>41,41,41</string>
	<key>tztGridColor</key>
	<string>43,43,43</string>
	<key>tztHQParamsColors</key>
	<array>
		<string>255,255,255</string>
		<string>255,255,0</string>
		<string>255,0,255</string>
		<string>0,255,0</string>
		<string>0,0,255</string>
		<string>255,132,0</string>
		<string>0,230,0</string>
	</array>
	<key>tztHQHideGridColor</key>
	<string>96,96,96</string>
	<key>tztHQGridColor</key>
	<string>43,43,43</string>
	<key>tztHQBalanceColor</key>
	<string>255,255,255</string>
	<key>tztHQUpColor</key>
	<string>255,0,0</string>
	<key>tztHQDownColor</key>
	<string>0,255,0</string>
	<key>tztHQKLineUpColor</key>
	<string>255,60,60</string>
	<key>tztHQKLineDownColor</key>
	<string>0,228,255</string>
	<key>tztHQCursorColor</key>
	<string>255,255,255</string>
	<key>tztHQFixTextColor</key>
	<string>204,204,204</string>
	<key>tztHQAxisTextColor</key>
	<string>255,255,0</string>
	<key>tztHQTipBackColor</key>
	<string>37,37,37</string>
	<key>tztHQTitleBackColor</key>
	<string>41,41,41</string>
	<key>tztTableSelectColor</key>
	<string>56,56,56</string>
	<key>tztHQCursorBackColor</key>
	<string>48,48,48</string>
	<key>tztHQCursorTextColor</key>
	<string>255,255,0</string>
	<key>tztHQReportCellColor</key>
	<string>48,48,48</string>
	<key>tztHQReportCellColorEx</key>
	<string>46,46,46</string>
	<key>tztJYReportCellColor</key>
	<string>48,48,48</string>
	<key>tztJYReportCellColorEx</key>
	<string>46,46,46</string>
	<key>tztJYGridColor</key>
	<string>43,43,43</string>
	<key>tztJYToolbarBgColor</key>
	<string>68,68,68</string>
	<key>tztJYTitleBackColor</key>
	<string>41,41,41</string>
	<key>tztTrendLineColor</key>
	<string>255,255,255</string>
	<key>tztTrendGradientColor</key>
	<string>37,37,37,0.8</string>
	<key>tztTrendGradientColorEx</key>
	<string>48,48,48,0.8</string>
</dict>
</plist>
