<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Section</key>
		<string>0</string>
		<key>SectionName</key>
		<string>热门板块</string>
		<key>SectionType</key>
		<string>3</string>
		<key>Open</key>
		<string>1</string>
		<key>SectionHeight</key>
		<string>35</string>
		<key>RowHeight</key>
		<string>120</string>
		<key>MemberCount</key>
		<string>1</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>0</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>0</string>
			<key>StockIndex</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>6</string>
			<key>StockCode</key>
			<string>4661</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20196</string>
		</dict>
		<key>HQMenuID</key>
		<string>4</string>
		<key>MarketID</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Section</key>
		<string>1</string>
		<key>SectionName</key>
		<string>涨幅榜</string>
		<key>Open</key>
		<string>1</string>
		<key>SectionType</key>
		<string>0</string>
		<key>SectionHeight</key>
		<string>35</string>
		<key>RowHeight</key>
		<string>44</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>0</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>StockIndex</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>1101,1201,1206,120B</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20191</string>
		</dict>
		<key>HQMenuID</key>
		<string>302</string>
		<key>MarketID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Section</key>
		<string>2</string>
		<key>SectionName</key>
		<string>跌幅榜</string>
		<key>SectionType</key>
		<string>0</string>
		<key>SectionHeight</key>
		<string>35</string>
		<key>RowHeight</key>
		<string>44</string>
		<key>Open</key>
		<string>1</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>0</string>
			<key>AccountIndex</key>
			<string>0</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>StockIndex</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>1101,1201,1206,120B</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20191</string>
		</dict>
		<key>HQMenuID</key>
		<string>302</string>
		<key>MarketID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Section</key>
		<string>3</string>
		<key>SectionName</key>
		<string>换手率榜</string>
		<key>Open</key>
		<string>1</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>6</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>1101,1201,1206,120B</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20191</string>
		</dict>
		<key>HQMenuID</key>
		<string>302</string>
		<key>MarketID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Section</key>
		<string>4</string>
		<key>SectionName</key>
		<string>振幅榜</string>
		<key>Open</key>
		<string>1</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>1</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>1101,1201,1206,120B</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20191</string>
		</dict>
		<key>HQMenuID</key>
		<string>302</string>
		<key>MarketID</key>
		<string>3</string>
	</dict>
</array>
</plist>
