<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Section</key>
		<string>0</string>
		<key>SectionName</key>
		<string></string>
		<key>SectionType</key>
		<string>2</string>
		<key>Open</key>
		<string>1</string>
		<key>SectionHeight</key>
		<string>0</string>
		<key>RowHeight</key>
		<string>70</string>
		<key>MemberCount</key>
		<string>1</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>9</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>0</string>
			<key>StockIndex</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>3</string>
			<key>Grid</key>
			<string>HSI,HSCCI,HSCEI</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>60</string>
		</dict>
		<key>HQMenuID</key>
		<string></string>
		<key>MarketID</key>
		<string></string>
	</dict>
	<dict>
		<key>Section</key>
		<string>1</string>
		<key>SectionName</key>
		<string>港股通涨幅榜</string>
		<key>Open</key>
		<string>1</string>
		<key>SectionType</key>
		<string>0</string>
		<key>SectionHeight</key>
		<string>35</string>
		<key>RowHeight</key>
		<string>44</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>0</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>StockIndex</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>港股通</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20192</string>
		</dict>
		<key>HQMenuID</key>
		<string>630</string>
		<key>MarketID</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Section</key>
		<string>2</string>
		<key>SectionName</key>
		<string>港股通跌幅榜</string>
		<key>SectionType</key>
		<string>0</string>
		<key>SectionHeight</key>
		<string>35</string>
		<key>RowHeight</key>
		<string>44</string>
		<key>Open</key>
		<string>1</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>0</string>
			<key>AccountIndex</key>
			<string>0</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>StockIndex</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>港股通</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20192</string>
		</dict>
		<key>HQMenuID</key>
		<string>630</string>
		<key>MarketID</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Section</key>
		<string>3</string>
		<key>SectionName</key>
		<string>热门AH股</string>
		<key>Open</key>
		<string>1</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>0</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>AH股</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20194</string>
		</dict>
		<key>HQMenuID</key>
		<string>605</string>
		<key>MarketID</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Section</key>
		<string>4</string>
		<key>SectionName</key>
		<string>主板涨幅榜</string>
		<key>Open</key>
		<string>1</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>0</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>210E</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20191</string>
		</dict>
		<key>HQMenuID</key>
		<string>606</string>
		<key>MarketID</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Section</key>
		<string>4</string>
		<key>SectionName</key>
		<string>主板跌幅榜</string>
		<key>Open</key>
		<string>1</string>
		<key>MemberCount</key>
		<string>10</string>
		<key>RequestData</key>
		<dict>
			<key>Direction</key>
			<string>1</string>
			<key>AccountIndex</key>
			<string>1</string>
			<key>DeviceType</key>
			<string>0</string>
			<key>StartPos</key>
			<string>1</string>
			<key>NewMarketNo</key>
			<string>0</string>
			<key>MaxCount</key>
			<string>10</string>
			<key>StockCode</key>
			<string>210E</string>
			<key>Lead</key>
			<string>1</string>
			<key>Action</key>
			<string>20191</string>
		</dict>
		<key>HQMenuID</key>
		<string>606</string>
		<key>MarketID</key>
		<string>6</string>
	</dict>
</array>
</plist>
