<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>system</key>
	<array>
		<string>TZTSoftVersion.png|版本信息|5805|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
		<string>TZTSendToFriend.png|好友推荐|5807|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
		<string>TZTSetServer.png|服务器设置|5810|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
		<string>TZTCheckServer.png|服务器测速|5815|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
		<string>TZTTZKDSet.png|快递设置|5817|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
		<string>TZTSetKLine.png|系统设置|5803|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
		<string>TZTReRegist.png|重新激活|5811|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
		<string>TZTMZTK.png|免责条款|5806|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
		<string>TZTContact.png|联系方式|5813|||||||TZTMenuCellColor.png|TZTMenuSelect.png|</string>
	</array>
	<key>tradelist</key>
	<array>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTSendToFriend.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTSetServer.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTCheckServer.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTSetKLine.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTTZKDSet.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTReRegist.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTSoftVersion.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTContact.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Show</key>
			<string>1</string>
			<key>Level</key>
			<string>0</string>
			<key>Image</key>
			<string>TZTMZTK.png</string>
			<key>Expanded</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
