<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TitleType</key>
	<string>1</string>
	<key>HSTrend</key>
	<dict>
		<key>Quotes</key>
		<dict>
			<key>height</key>
			<string>104</string>
			<key>userstock</key>
			<string></string>
			<key>isblock</key>
			<string></string>
			<key>isexchange</key>
			<string></string>
			<key>istradestock</key>
			<string></string>
			<key>keys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
			<key>exchangekeys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>detail</key>
		<array>
			<dict>
				<key>SectionHeight</key>
				<string>35</string>
				<key>RowCount</key>
				<string>1</string>
				<key>RowHeight</key>
				<string>253</string>
				<key>XMargin</key>
				<string>10</string>
				<key>Sections</key>
				<array>
					<dict>
						<key>Title</key>
						<string>新闻</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/zx_index.htm?type=20001&amp;stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>公告</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/zx_index.htm?type=20002&amp;stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>研报</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/zx_index.htm?type=20003&amp;stockcode=%@</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeight</key>
				<string>35</string>
				<key>RowHeight</key>
				<string>500</string>
				<key>RowCount</key>
				<string>1</string>
				<key>XMargin</key>
				<string>3</string>
				<key>Sections</key>
				<array>
					<dict>
						<key>Title</key>
						<string>资金</string>
						<key>Type</key>
						<string>tztFundFlow</string>
						<key>URL</key>
						<string>tztTrendFundView</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>简况</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/infoIntro.htm?stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>财务</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/infoFinance.htm?stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>股东</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/infoShare.htm?stockcode=%@</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>USTrend</key>
	<dict>
		<key>Quotes</key>
		<dict>
			<key>height</key>
			<string>104</string>
			<key>userstock</key>
			<string></string>
			<key>isblock</key>
			<string></string>
			<key>isexchange</key>
			<string></string>
			<key>istradestock</key>
			<string></string>
			<key>keys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
			<key>exchangekeys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>detail</key>
		<array>
			<dict>
				<key>SectionHeight</key>
				<string>35</string>
				<key>RowHeight</key>
				<string>253</string>
				<key>RowCount</key>
				<string>1</string>
				<key>Sections</key>
				<array>
					<dict>
						<key>Title</key>
						<string>新闻</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/ggzx_index.htm?menuid=44077&amp;stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>简况</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/USInfoIntro.htm?stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>财务</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/USInfoFinance.htm?stockcode=%@</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>HKTrend</key>
	<dict>
		<key>Quotes</key>
		<dict>
			<key>height</key>
			<string>104</string>
			<key>userstock</key>
			<string></string>
			<key>isblock</key>
			<string></string>
			<key>isexchange</key>
			<string></string>
			<key>istradestock</key>
			<string></string>
			<key>keys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
			<key>exchangekeys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>detail</key>
		<array>
			<dict>
				<key>SectionHeight</key>
				<string>35</string>
				<key>RowHeight</key>
				<string>253</string>
				<key>RowCount</key>
				<string>1</string>
				<key>Sections</key>
				<array>
					<dict>
						<key>Title</key>
						<string>新闻</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/ggzx_index.htm?menuid=44073&amp;stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>公告</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/ggzx_index.htm?menuid=44075&amp;stockcode=%@</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SectionHeight</key>
				<string>35</string>
				<key>RowHeight</key>
				<string>253</string>
				<key>RowCount</key>
				<string>1</string>
				<key>Sections</key>
				<array>
					<dict>
						<key>Title</key>
						<string>简况</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/gInfoIntro.htm?stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>财务</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/gInfoFinance.htm?stockcode=%@</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>权益</string>
						<key>Type</key>
						<string>tztWebInfo</string>
						<key>URL</key>
						<string>/yjb/gInfoRight.htm?stockcode=%@</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>HSIndexTrend</key>
	<dict>
		<key>Quotes</key>
		<dict>
			<key>height</key>
			<string>104</string>
			<key>userstock</key>
			<string></string>
			<key>isblock</key>
			<string></string>
			<key>isexchange</key>
			<string></string>
			<key>istradestock</key>
			<string></string>
			<key>keys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
			<key>exchangekeys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>detail</key>
		<array>
			<dict>
				<key>SectionHeight</key>
				<string>35</string>
				<key>RowHeight</key>
				<string>44</string>
				<key>RowCount</key>
				<string>10</string>
				<key>Sections</key>
				<array>
					<dict>
						<key>Title</key>
						<string>涨幅榜</string>
						<key>Type</key>
						<string>tztReport</string>
						<key>URL</key>
						<string>action=20191&amp;direction=1&amp;accountindex=0&amp;sectionname=Range</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>跌幅榜</string>
						<key>Type</key>
						<string>tztReport</string>
						<key>URL</key>
						<string>action=20191&amp;direction=0&amp;accountindex=0&amp;sectionname=Range</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>换手率榜</string>
						<key>Type</key>
						<string>tztReport</string>
						<key>URL</key>
						<string>action=20191&amp;direction=1&amp;accountindex=6&amp;sectionname=ChangeValue&amp;showcols=Name|NewPrice|ChangeValue</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>HKIndexTrend</key>
	<dict>
		<key>Quotes</key>
		<dict>
			<key>height</key>
			<string>104</string>
			<key>userstock</key>
			<string></string>
			<key>isblock</key>
			<string></string>
			<key>isexchange</key>
			<string></string>
			<key>istradestock</key>
			<string></string>
			<key>keys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
			<key>exchangekeys</key>
			<array>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string></string>
					<key>value</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>detail</key>
		<array>
			<dict>
				<key>SectionHeight</key>
				<string>35</string>
				<key>RowHeight</key>
				<string>44</string>
				<key>RowCount</key>
				<string>10</string>
				<key>XMargin</key>
				<string>0</string>
				<key>Sections</key>
				<array>
					<dict>
						<key>Title</key>
						<string>涨幅榜</string>
						<key>Type</key>
						<string>tztReport</string>
						<key>URL</key>
						<string>action=20192&amp;direction=1&amp;accountindex=0&amp;sectionname=Range</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>跌幅榜</string>
						<key>Type</key>
						<string>tztReport</string>
						<key>URL</key>
						<string>action=20192&amp;direction=0&amp;accountindex=0&amp;sectionname=Range</string>
					</dict>
					<dict>
						<key>Title</key>
						<string>成交量榜</string>
						<key>Type</key>
						<string>tztReport</string>
						<key>URL</key>
						<string>action=20192&amp;direction=1&amp;accountindex=2&amp;sectionname=TotalHand&amp;showcols=Name|NewPrice|TotalHand</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>DefaultTrend</key>
	<dict>
		<key>Quotes</key>
		<dict>
			<key>height</key>
			<string>80</string>
			<key>userstock</key>
			<string></string>
			<key>isblock</key>
			<string></string>
			<key>isexchange</key>
			<string></string>
			<key>istradestock</key>
			<string></string>
			<key>keys</key>
			<array>
				<dict>
					<key>keyname</key>
					<string>Stock_StartPrice</string>
					<key>name</key>
					<string>开</string>
				</dict>
				<dict>
					<key>keyname</key>
					<string>Stock_MaxPrice</string>
					<key>name</key>
					<string>高</string>
				</dict>
				<dict>
					<key>keyname</key>
					<string>Stock_YesTodayPrice</string>
					<key>name</key>
					<string>收</string>
				</dict>
				<dict>
					<key>keyname</key>
					<string>Stock_MinPrice</string>
					<key>name</key>
					<string>低</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
