<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tradelist</key>
	<array>
		<dict>
			<key>Image</key>
			<string>TZTBT</string>
			<key>Expanded</key>
			<string>0</string>
			<key>Level</key>
			<string>0</string>
			<key>Show</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>TZTZH</string>
			<key>Expanded</key>
			<string>0</string>
			<key>Show</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>TZTOK</string>
			<key>Show</key>
			<string>1</string>
		</dict>
	</array>
	<key>system</key>
	<array>
		<string>TZTBT||||||TZTLabel=0^手机号码激活^Left^18|||</string>
		<string>TZTZH||||||TZTEditor=2000^输入手机号码^^Number^11|||</string>
		<string>TZTOK||||||TZTButton=4000^立即登录^TZTButtonBack.png^^Buy^RoundRect^18^1|||</string>
	</array>
</dict>
</plist>
