<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTSALE5</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖一|rect=,,10%,|adjustsfontsizetofitwidth=1|textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7010|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7030|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>|type=custom|rect=,,1,|font=13|backgroundcolor=62,62,62|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买一|rect=48%,,10%,|adjustsfontsizetofitwidth=1||textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7000|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7020|type=custom|rect=,,18%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE4</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖二|rect=,,10%,|adjustsfontsizetofitwidth=1|textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7011|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7031|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>|type=custom|rect=,,1,|font=13|backgroundcolor=62,62,62|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买二|rect=48%,,10%,|adjustsfontsizetofitwidth=1||textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7001|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7021|type=custom|rect=,,18%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE3</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖三|rect=,,10%,|adjustsfontsizetofitwidth=1||textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7012|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7032|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>|type=custom|rect=,,1,|font=13|backgroundcolor=62,62,62|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买三|rect=48%,,10%,|adjustsfontsizetofitwidth=1|textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7002|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7022|type=custom|rect=,,18%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE2</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖四|rect=,,10%,|adjustsfontsizetofitwidth=1|textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7013|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7033|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>|type=custom|rect=,,1,|font=13|backgroundcolor=62,62,62|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买四|rect=48%,,10%,|adjustsfontsizetofitwidth=1|textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7003|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7023|type=custom|rect=,,18%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE1</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖五|rect=,,10%,|adjustsfontsizetofitwidth=1||textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7014|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7034|type=custom|rect=,5,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>|type=custom|rect=,,1,|font=13|backgroundcolor=62,62,62|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买五|rect=48%,,10%,|adjustsfontsizetofitwidth=1|textalignment=center|font=12|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7004|type=custom|rect=,,18%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=7024|type=custom|rect=,,18%,23|font=13|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>|cellheight=28|backgroundcolor=48,48,48|gridcolor=62,62,62|gridline=1|radius=0|</string>
	</dict>
</array>
</plist>
