<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTTitle</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=股票代码|textalignment=right|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTTextField</string>
						<key>itemproperty</key>
						<string>tag=2000|placeholder=代码或拼音|maxlen=6|maxaction=1|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>gridline=0|</string>
	</dict>
</array>
</plist>
