<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTDM</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>tztcombox</string>
						<key>itemproperty</key>
						<string>tag=2010|keyboardtype=number|placeholder=股票代码|maxlen=30|maxaction=1|type=listedit|textalignment=center|backgroundcolor=70,70,70|textcolor=255,255,255|placeholdercolor=255,255,255|dropimage=tztHKTradeDrop.png|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTWTFS</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>rect=,,100%,|tag=2000|title=委托方式|placeholder=委托方式|textalignment=center|backgroundcolor=70,70,70|textcolor=255,255,255|dropimage=tztHKTradeDrop.png|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJG</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=3001|backimage=TZTNavDelStockTrade.png|rect=0,,32,28|showsTouchWhenHighlighted=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=9000|text=HK$|rect=0,,32,28|showsTouchWhenHighlighted=1|textalignment=right|textcolor=191,191,191|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=1001|keyboardtype=number|placeholder=委托价格|maxlen=9|rect=28,,170,|type=noabc&amp;isnumber|textalignment=center|textcolor=255,255,255|placeholdercolor=255,255,255|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=3000|backimage=TZTNavAddStockTrade.png|rect=268,,32,28|showsTouchWhenHighlighted=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSL</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=3003|backimage=TZTNavDelStockTrade.png|rect=0,,32,28|showsTouchWhenHighlighted=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=1002|rect=98,,170,|keyboardtype=number|placeholder=委托数量|maxlen=9|type=noabc&amp;nodot&amp;isnumber|textalignment=center|textcolor=255,255,255|placeholdercolor=255,255,255|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=3002|backimage=TZTNavAddStockTrade.png|rect=268,,32,28|showsTouchWhenHighlighted=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=2020|adjustsfontsizetofitwidth=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTMax</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=折合:  |font=12|rect=10,,10%,25|textAlignment=right|adjustsfontsizetofitwidth=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=6000|type=custom|rect=,,35%,25|font=18|textAlignment=left|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=6001|text=最多可买|font=13|rect=30%,,15%,25|textalignment=right|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=6002|type=custom|rect=40%,,,25|font=15|textalignment=left|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>rect=0,0,,228|cellheight=44|backgroundcolor=70,70,70|bordercolor=62,62,62|layout=1|gridline=1|radius=0|autocalcul=0|gridcolor=81,81,81|</string>
	</dict>
</array>
</plist>
