<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTTitle</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=10,7,120,30|text=行情刷新间隔(秒)|textAlignment=right|font=14|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>tag=3000|rect=135,7,155,30|placeholder=行情刷新间隔|text=10|textAlignment=left|title=行情刷新间隔(秒)|dropbtn=1|dropdelete=0|listvalue=0,5,10,15,20,30,60|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string></string>
	</dict>
</array>
</plist>
