<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTKLineCQ</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=,,120,|text=是否复权:|textAlignment=right|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTCheckBox</string>
						<key>itemproperty</key>
						<string>tag=7000|title=|text=0|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTKLineDay</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=,,120,|text=自定义日线(天):|textAlignment=right|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTEdit</string>
						<key>itemproperty</key>
						<string>tag=2000|keyboardtype=number|number=1|placeholder=自定义日线(天)|type=noabc&amp;nodot&amp;isnumber|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTKLineMin</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=,,120,|text=自定义分钟(分):|textAlignment=right|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTEdit</string>
						<key>itemproperty</key>
						<string>tag=2001|keyboardtype=number|number=1|placeholder=自定义分钟线(分钟)|type=noabc&amp;nodot&amp;isnumber|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTKLineMAnum</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=,,120,|text=显示均线数(1-5):|textAlignment=right|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTEdit</string>
						<key>itemproperty</key>
						<string>tag=2002|keyboardtype=number|number=1|placeholder=显示均线数(1-5)|type=noabc&amp;nodot&amp;isnumber|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTTitle</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=10,7,120,30|text=行情刷新间隔(秒)|textAlignment=right|font=14|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>tag=3000|rect=135,7,155,30|placeholder=行情刷新间隔|text=10|textAlignment=left|title=行情刷新间隔(秒)|dropbtn=1|dropdelete=0|listvalue=0,5,10,15,20,30,60|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTDateMargin</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=,,120,|text=默认日期间隔(天):|textAlignment=right|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTEdit</string>
						<key>itemproperty</key>
						<string>tag=2005|keyboardtype=number|number=1|placeholder=默认日期间隔|type=noabc&amp;nodot&amp;isnumber|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTCZ</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5000|title=确 定|backimage=TZTButtonBack.png|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string></string>
	</dict>
</array>
</plist>
