<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTBT</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=,,300,|text=手机号码激活|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTZH</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTEdit</string>
						<key>itemproperty</key>
						<string>tag=2000|number=1|placeholder=输入手机号码|checkdata=1|maxlen=11|maxaction=1|type=nodot&amp;noabc|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTOK</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=4000|title=立即登录|backimage=TZTButtonBack.png|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTTS</string>
				<key>Show</key>
				<string>0</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>rect=,,250,|text=温馨提示:|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTDX</string>
				<key>Show</key>
				<string>0</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=3000|rect=,,200,|text=编辑短信&quot;8&quot;到[-RegistNumber-]激活|adjustsFontSizeToFitWidth=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=4001|type=Custom|title=发送短信|backimage=TZTButtonBackSmall.png|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTDH</string>
				<key>Show</key>
				<string>0</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=3001|rect=,,200,|text=拨打[-RegistPhone-]再选1激活|adjustsFontSizeToFitWidth=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=4002|type=custom|title=拨打电话|backimage=TZTButtonBackSmall.png|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>rect=,,100%,|cellheight=44|gridcolor=183,183,183|</string>
	</dict>
</array>
</plist>
