<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTTitle</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>tzttextview</string>
						<key>itemproperty</key>
						<string>tag=0|enabled=0|textcolor=255,255,0|text=将该软件推荐给好友，看行情做交易永久免费!|maxlines=2|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTMobileCode</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>tztlabel</string>
						<key>itemproperty</key>
						<string>text=手机号码|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=3000|placeholder=输入手机号码|type=noabc&amp;nodot|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTTips</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>tzttextview</string>
						<key>itemproperty</key>
						<string>tag=0|enabled=0|maxlines=2|text=提示:好友成功激活登录手机软件后，您可获得10个H币!|textcolor=255,255,255|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTOK</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>tztbutton</string>
						<key>itemproperty</key>
						<string>tag=6000|title=确定|</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
