<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>bkimage</key>
		<string>TZTnavbarsearch.png</string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>个股查询</string>
	</dict>
	<key>01</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>bkimage</key>
		<string>TZTnavbarfont.png</string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>修改字体</string>
	</dict>
	<key>02</key>
	<dict>
		<key>title</key>
		<string>订阅</string>
		<key>bkimage</key>
		<string>tztNavBarBtnBg.png</string>
		<key>image</key>
		<string></string>
	</dict>
	<key>03</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>bkimage</key>
		<string>TZTnavbaredit.png</string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>编辑、修改</string>
	</dict>
	<key>04</key>
	<dict>
		<key>title</key>
		<string>我要开户</string>
		<key>bkimage</key>
		<string>tztNavBarBtnBg.png</string>
		<key>image</key>
		<string></string>
	</dict>
	<key>05</key>
	<dict>
		<key>title</key>
		<string>在线客服</string>
		<key>bkimage</key>
		<string>tztNavBarBtnBg.png</string>
		<key>image</key>
		<string></string>
	</dict>
	<key>06</key>
	<dict>
		<key>title</key>
		<string>筛选</string>
		<key>bkimage</key>
		<string>tztNavBarBtnBg.png</string>
		<key>image</key>
		<string></string>
	</dict>
	<key>09</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>bkimage</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>没有按钮</string>
	</dict>
	<key>10</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>bkimage</key>
		<string>TZTnavbarbackbg.png</string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>返回</string>
	</dict>
	<key>11</key>
	<dict>
		<key>title</key>
		<string>退出</string>
		<key>bkimage</key>
		<string>tztNavBarBtnBg.png</string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>退出流程</string>
	</dict>
	<key>12</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>bkimage</key>
		<string>TZTnavleft.png</string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>前一个、前一页</string>
	</dict>
	<key>13</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>bkimage</key>
		<string>TZTnavright.png</string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>后一个、后一页</string>
	</dict>
	<key>14</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>bkimage</key>
		<string>TZTnavicon.png</string>
		<key>image</key>
		<string></string>
		<key>note</key>
		<string>系统图标</string>
	</dict>
</dict>
</plist>
