<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTDM</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=股票代码|rect=5,,60,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2000|rect=5,,110,|keyboardtype=number|placeholder=输入股票代码|maxlen=6|maxaction=1|type=nodot|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=3000|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTZH</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=委托账号|rect=5,,60,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>tag=1000|title=委托账号|placeholder=选择委托账号|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJG</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=委托价格|rect=5,,60,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=8000|backimage=TZTNavDelStock.png|rect=,,24,24|showsTouchWhenHighlighted=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2001|keyboardtype=number|placeholder=输入委托价格|maxlen=9|rect=,,110,|type=noabc&amp;isnumber|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=8001|backimage=TZTNavAddStock.png|rect=,,24,24|showsTouchWhenHighlighted=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSL</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=委托数量|rect=5,,60,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=9000|backimage=TZTNavDelStock.png|rect=,,24,24|showsTouchWhenHighlighted=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2002|rect=5,,110,|keyboardtype=number|placeholder=输入委托数量|maxlen=9|type=noabc&amp;nodot&amp;isnumber|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=9001|backimage=TZTNavAddStock.png|rect=,,24,24|showsTouchWhenHighlighted=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=2020|adjustsfontsizetofitwidth=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTZJYM</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=资金|font=15|rect=2%,,13%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5000|type=custom|rect=,,35%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=约买|font=15|rect=,,15%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5001|type=custom|rect=,,35%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTZXZL</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=最新|font=15|rect=2%,,13%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=4998|type=custom|rect=,,35%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=总量|font=15|rect=,,15%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=4999|type=custom|rect=,,35%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTZTDT</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=涨停|font=15|rect=2%,,13%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5002|type=custom|rect=,,35%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=跌停|font=15|rect=50%,,13%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5003|type=custom|rect=,,35%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE5</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖一|font=15|rect=2%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5009|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5022|type=custom|rect=,,23%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买一|font=15|rect=48%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5004|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5017|type=custom|rect=,,26%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE4</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖二|font=15|rect=2%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5010|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5023|type=custom|rect=,,23%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买二|font=15|rect=48%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5005|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5018|type=custom|rect=,,26%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE3</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖三|font=15|rect=2%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5011|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5024|type=custom|rect=,,23%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买三|font=15|rect=48%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5006|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5019|type=custom|rect=,,26%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE2</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖四|font=15|rect=2%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5012|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5025|type=custom|rect=,,23%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买四|font=15|rect=48%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5007|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5020|type=custom|rect=,,23%,|font=13|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSALE1</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=卖五|font=15|rect=2%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5013|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5026|type=custom|rect=,,23%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=买五|font=15|rect=48%,,10%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5008|type=custom|rect=,,13%,|font=13|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5021|type=custom|rect=,,26%,|font=13|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>radius=5|autocalcul=1|gridline=0|backgroundcolor=38,38,38|bordercolor=38,38,38|cellheight=33|</string>
	</dict>
</array>
</plist>
