<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tablelist</key>
	<array>
		<dict>
			<key>Image</key>
			<string>TZTBT</string>
			<key>Expanded</key>
			<string>0</string>
			<key>Level</key>
			<string>0</string>
			<key>Show</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>TZTZH</string>
			<key>Expanded</key>
			<string>0</string>
			<key>Show</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>TZTOK</string>
			<key>Show</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>TZTTS</string>
			<key>Show</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>TZTDX</string>
			<key>Show</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>TZTDH</string>
			<key>Show</key>
			<string>1</string>
		</dict>
	</array>
	<key>tablecell</key>
	<dict>
		<key>TZTBT</key>
		<dict>
			<key>itemarray</key>
			<array>
				<dict>
					<key>itemtype</key>
					<string>TZTLabel</string>
					<key>itemproperty</key>
					<string>0|手机号码激活|Left|18|</string>
				</dict>
			</array>
			<key>iteminfo</key>
			<string></string>
		</dict>
		<key>TZTZH</key>
		<dict>
			<key>itemarray</key>
			<array>
				<dict>
					<key>itemtype</key>
					<string>TZTEdit</string>
					<key>itemproperty</key>
					<string>2000|输入手机号码||11|Number</string>
				</dict>
			</array>
			<key>iteminfo</key>
			<string></string>
		</dict>
		<key>TZTOK</key>
		<dict>
			<key>itemarray</key>
			<array>
				<dict>
					<key>itemtype</key>
					<string>TZTButton</string>
					<key>itemproperty</key>
					<string>4000|立即激活||18|RoundedRect|TZTButtonBack.png|1|</string>
				</dict>
			</array>
			<key>iteminfo</key>
			<string></string>
		</dict>
		<key>TZTTS</key>
		<dict>
			<key>itemarray</key>
			<array>
				<dict>
					<key>itemtype</key>
					<string>TZTLabel</string>
					<key>itemproperty</key>
					<string>0|温馨提示:|Left|18|</string>
				</dict>
			</array>
			<key>iteminfo</key>
			<string></string>
		</dict>
		<key>TZTDX</key>
		<dict>
			<key>itemarray</key>
			<array>
				<dict>
					<key>itemtype</key>
					<string>TZTLabel</string>
					<key>itemproperty</key>
					<string>3000|编辑短信&quot;8&quot;到106695887105激活|</string>
				</dict>
				<dict>
					<key>itemtype</key>
					<string>TZTLabel</string>
					<key>itemproperty</key>
					<string>0|</string>
				</dict>
				<dict>
					<key>itemtype</key>
					<string>TZTButton</string>
					<key>itemproperty</key>
					<string>4001|发送短信||13|Custom|TZTButtonBackSmall.png|0|</string>
				</dict>
			</array>
			<key>iteminfo</key>
			<string></string>
		</dict>
		<key>TZTDH</key>
		<dict>
			<key>itemarray</key>
			<array>
				<dict>
					<key>itemtype</key>
					<string>TZTLabel</string>
					<key>itemproperty</key>
					<string>3001|拨打0571-56696192再选1激活|</string>
				</dict>
				<dict>
					<key>itemtype</key>
					<string>TZTLabel</string>
					<key>itemproperty</key>
					<string>0|</string>
				</dict>
				<dict>
					<key>itemtype</key>
					<string>TZTButton</string>
					<key>itemproperty</key>
					<string>4002|拨打电话||13|Custom|TZTButtonBackSmall.png|0|</string>
				</dict>
			</array>
			<key>iteminfo</key>
			<string></string>
		</dict>
	</dict>
	<key>system</key>
	<array>
		<string>TZTBT||||||TZTLabel=0^手机号码激活^Left^18|||</string>
		<string>TZTZH||||||TZTEditor=2000^输入手机号码^^Number^11|||</string>
		<string>TZTOK||||||TZTButton=4000^立即激活^TZTButtonBack.png^^Buy^RoundRect^18^1|||</string>
		<string>TZTTS||||||TZTLabel=0^温馨提示:^Left^18|||</string>
		<string>TZTDX||||||TZTLabel=3000^编辑短信&quot;8&quot;到106695887105激活#TZTLabel=0#TZTButton=4001^发送短信^TZTButtonBackSmall.png^^^Customer^13^0|||</string>
		<string>TZTDH||||||TZTLabel=3001^拨打0571-56696192再选1激活#TZTLabel=0#TZTButton=4002^拨打电话^TZTButtonBackSmall.png^^^Customer^13^0|||</string>
	</array>
</dict>
</plist>
