<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TZTTradeGrid</key>
	<array>
		<string>TZTBank2Card.png|资金转入|12330||||</string>
		<string>TZTCard2Bank.png|资金转出|12331||||</string>
		<string>TZTBankYuE.png|银行余额|12332||||</string>
		<string>TZTBankHistory.png|转账流水|12363||||</string>
	</array>
</dict>
</plist>
