<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tztHQWuDangFont</key>
	<string>11</string>
	<key>tztBackgroundColor</key>
	<string>249,249,249</string>
	<key>tztBackgroundColorJY</key>
	<string>249,249,249</string>
	<key>tztBackgroundColorHQ</key>
	<string>249,249,249</string>
	<key>tztBackgroundColorZX</key>
	<string>249,249,249</string>
	<key>tztBackgroundColorTitle</key>
	<string>0,116,200</string>
	<key>tztViewBGColorTitle_Trend</key>
	<string>225,228,241</string>
	<key>tztBackgroundColorEdit</key>
	<string>255,255,255</string>
	<key>tztViewBGColorSection</key>
	<string>237,237,237</string>
	<key>tztViewBGColorSectionSel</key>
	<string>245,245,245</string>
	<key>tztViewBGColorTableJY</key>
	<string>249,249,249</string>
	<key>tztViewBGColorTag</key>
	<string>46,52,67</string>
	<key>tztTextColorNormal</key>
	<string>0,0,0</string>
	<key>tztTextColorLabel</key>
	<string>0,0,0</string>
	<key>tztTextColorButton</key>
	<string>81,81,81</string>
	<key>tztTextColorButtonSel</key>
	<string>0,0,0</string>
	<key>tztTextColorEditor</key>
	<string>0,0,0</string>
	<key>tztTextColorSection</key>
	<string>41,41,41</string>
	<key>tztTextColorReportTitle</key>
	<string>255,255,255</string>
	<key>tztTextColorTag</key>
	<string>220,220,220</string>
	<key>tztTextColorTagSel</key>
	<string>255,255,255</string>
	<key>tztBorderColor</key>
	<string>220,220,220</string>
	<key>tztBorderColorLabel</key>
	<string>220,220,220</string>
	<key>tztBorderColorEditor</key>
	<string>220,220,220</string>
	<key>tztBorderColorGrid</key>
	<string>204,204,204</string>
	<key>tztGridColor</key>
	<string>242,242,242</string>
	<key>tztHQParamsColors</key>
	<array>
		<string>255,180,21</string>
		<string>248,136,166</string>
		<string>76,208,247</string>
		<string>0,255,0</string>
		<string>0,0,255</string>
		<string>255,132,0</string>
		<string>0,247,0</string>
	</array>
	<key>tztHQHideGridColor</key>
	<string>220,220,220</string>
	<key>tztHQGridColor</key>
	<string>220,220,220</string>
	<key>tztHQBalanceColor</key>
	<string>0,0,0</string>
	<key>tztHQUpColor</key>
	<string>234,6,31</string>
	<key>tztHQDownColor</key>
	<string>32,156,78</string>
	<key>tztHQKLineUpColor</key>
	<string>255,54,49</string>
	<key>tztHQKLineDownColor</key>
	<string>75,179,40</string>
	<key>tztHQCursorColor</key>
	<string>85,85,85</string>
	<key>tztHQFixTextColor</key>
	<string>85,85,85</string>
	<key>tztHQAxisTextColor</key>
	<string>85,85,85</string>
	<key>tztHQTipBackColor</key>
	<string>241,241,241</string>
	<key>tztHQTitleBackColor</key>
	<string>241,241,241</string>
	<key>tztTableSelectColor</key>
	<string>215,215,215</string>
	<key>tztHQCursorBackColor</key>
	<string>35,120,220</string>
	<key>tztHQCursorTextColor</key>
	<string>255,255,255</string>
	<key>tztHQReportCellColor</key>
	<string>255,255,255</string>
	<key>tztHQReportCellColorEx</key>
	<string>249,249,249</string>
	<key>tztJYReportCellColor</key>
	<string>255,255,255</string>
	<key>tztJYReportCellCiolorEx</key>
	<string>249,249,249</string>
	<key>tztJYGridColor</key>
	<string>220,220,220</string>
	<key>tztJYToolbarBgColor</key>
	<string>220,220,220</string>
	<key>tztJYTitleBackColor</key>
	<string>220,220,220</string>
	<key>tztTrendLineColor</key>
	<string>57,137,203</string>
	<key>tztTrendGradientColor</key>
	<string>104,193,238,0.7</string>
	<key>tztTrendGradientColorEx</key>
	<string>233,241,247,0.7</string>
</dict>
</plist>
