<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTBZ</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=币种|rect=30,10,100|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTCombox</string>
						<key>itemproperty</key>
						<string>tag=1000|rect=120,10,150,|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTFZZJE</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=可用金额|rect=30,10,100,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2002|rect=120,10,150,|enabled=0|type=noabc&amp;isnumber|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTFZLX</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=需还款额|rect=30,10,100,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2000|rect=120,10,150,|enabled=0|type=noabc&amp;isnumber|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTHKJE</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=还款金额|rect=30,10,100,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2003|rect=120,10,150,|maxlen=10|keyboardtype=number|placeholder=输入还款金额|type=noabc&amp;isnumber|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTCZ</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=10000|title=确定|rect=,,45%,30|backimage=TZTButtonBackMiddle.png|type=custom|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=10001|title=刷新|rect=,,50%,30|backimage=TZTButtonBackMiddle.png|type=custom|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>radius=5|autocalcul=1|gridline=0|backgroundcolor=38,38,38|bordercolor=38,38,38|cellheight=40|</string>
	</dict>
</array>
</plist>
