<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainTitle</key>
	<string>西部信天游</string>
	<key>CompanyName</key>
	<string>杭州中焯信息技术股份有限公司</string>
	<key>SysFromVer</key>
	<string>1.2</string>
	<key>SystemVer</key>
	<string>1.2</string>
	<key>CFrom</key>
	<string>tzt.iphone</string>
	<key>BuyAndSale</key>
	<string>0</string>
	<key>YYBCode</key>
	<string>513</string>
	<key>JiZhongJY</key>
	<string>0</string>
	<key>NeedRegist</key>
	<string>1</string>
	<key>RegAction</key>
	<string>223</string>
	<key>SupportPMD</key>
	<string>1</string>
	<key>PMDHeight</key>
	<string>20</string>
	<key>SupportHomePage</key>
	<string>1</string>
	<key>NSearchFunc</key>
	<string>1</string>
	<key>SellAction</key>
	<string>152/5899</string>
	<key>DefDownColor</key>
	<string>67,148,255</string>
	<key>ToolBarHeight</key>
	<string>49</string>
	<key>BuySellWithTrend</key>
	<string>1</string>
	<key>TransType2Content</key>
	<string>1</string>
	<key>NStockNeedHQ</key>
	<string>1</string>
	<key>OpenAutoRegist</key>
	<string>1</string>
	<key>ShowSysBlock</key>
	<string>1</string>
	<key>SupportTBF10</key>
	<string>1</string>
	<key>NSupportInfoMine</key>
	<string>1</string>
	<key>ApplyCode</key>
	<string>0</string>
	<key>WudangOnly</key>
	<string>1</string>
	<key>AboutCopyright</key>
	<string>&lt;p&gt;感谢您使用西部信天游iPhone版本软件&lt;/p&gt;&lt;p&gt;软件版本号:[-SysVersion-]&lt;/p&gt;&lt;p&gt;内部版本号:[-InVersion-]&lt;/p&gt;&lt;p&gt;客服电话：400-8888-228&lt;/p&gt;</string>
	<key>Disclaimer</key>
	<string>&lt;p&gt;本着对投资者负责的态度，西部信天游证券在此郑重提醒投资者，手机委托是自助委托的方式之一，除具有其他委托方式的风险之外还其具有以下风险：&lt;/p&gt;1、因数据传输等原因，交易指令可能会出现中断、停顿、延迟、数据错误等情况;&lt;p/&gt;2、投资者自身密码泄露或身份可能被仿冒;&lt;p/&gt;3、手机与软件所提供的委托系统不相匹配，无法下达委托或委托失败&lt;p/&gt;4、可能因操作不当造成委托失败或委托失误;&lt;p/&gt;5、因通讯运营商网络存在故障的可能性，导致相关信息出现错误或延迟；&lt;p/&gt;西部信天游手机证券软件使用时仅发生上网数据流量费（通讯运营商收取）。上网数据流量费根据客户手机上的流量来计算，每个地区资费标准不同，详情咨询当地通讯运营商。 &lt;p/&gt;本人已经阅读并充分了解上述风险，现申请开通西部信天游手机证券业务，自愿承担开通此项业务后因上述风险引致的一切后果。&lt;p/&gt;</string>
	<key>RegistHelpURL</key>
	<string>http://www.tzt.cn/mobileadv.php?aid=5&amp;tid=1</string>
	<key>RegistHelp</key>
	<string>首次登录请发送短信SJCG#2到13518100398进行激活，3分钟后重新登录即可进入西部信天游证券手机炒股系统。不需要等回复，立即生效！\r\n客服电话：4006-600109（全国）、95105111（四川）</string>
	<key>RegistTips</key>
	<string>首次登录请发送短信SJCG#2到13518100398进行激活，3分钟后重新登录即可进入西部信天游证券手机炒股系统。不需要等回复，立即生效！\r\n客服电话：4006-600109（全国）、95105111（四川）</string>
	<key>tztYJXX</key>
	<string>http://3g.tzt.cn/EarlyWarning/index.php</string>
	<key>tztWebF10</key>
	<string>http://news.3gdisk.com/ycpj/cachehtml/vsatPhoneF10b/Index/%@.html?user=TZT&amp;gudi=AS8231957R1B4A83BF&amp;type=VIP</string>
	<key>tztHudong</key>
	<string>http://3g.tzt.cn</string>
	<key>tztRecharge</key>
	<string>http://www.tzt.cn/wygmtype.php</string>
	<key>tztCJCenter</key>
	<string>http://news.3gdisk.com/ycpj/cachehtml/vsatPhoneF10b_news/index.html?user=TZT&amp;gudi=AS8231957R1B4A83BF&amp;type=VIP</string>
	<key>tztOnline</key>
	<string>http://127.0.0.1:%d/serviceajax/index.htm</string>
	<key>tztOnlineMy</key>
	<string>http://127.0.0.1:%d/serviceajax/my_ask.htm</string>
	<key>tztOnlineHot</key>
	<string>http://127.0.0.1:%d/serviceajax/service.htm</string>
	<key>tztOnlineCJWT</key>
	<string>http://127.0.0.1:%d/serviceajax/interlocution.htm</string>
	<key>tztPushInfo</key>
	<string>http://127.0.0.1:%d/pub/push_message.htm?socid=%@&amp;type=%@</string>
	<key>DefWAPURL</key>
	<string>222.73.56.75</string>
	<key>DefURLSTR</key>
	<string>222.73.56.75</string>
	<key>KHURL</key>
	<string>mkh.gjzq.com.cn</string>
	<key>JYServerPort</key>
	<string>5998</string>
	<key>HQServerPort</key>
	<string>5998</string>
	<key>ZXServerPort</key>
	<string>5998</string>
	<key>KHServerPort</key>
	<string>7778</string>
	<key>tztJHServer</key>
	<string>222.73.56.75</string>
	<key>tztJHPort</key>
	<string>7778</string>
	<key>tztJHOpen</key>
	<string>1</string>
	<key>tztDefaultUserStock</key>
	<array>
		<dict>
			<key>CODE</key>
			<string>1A0001</string>
			<key>NAME</key>
			<string>上证指数</string>
			<key>STOCKTYPE</key>
			<string>4352</string>
		</dict>
		<dict>
			<key>CODE</key>
			<string>2A01</string>
			<key>NAME</key>
			<string>深证成指</string>
			<key>STOCKTYPE</key>
			<string>4608</string>
		</dict>
		<dict>
			<key>CODE</key>
			<string>002673</string>
			<key>NAME</key>
			<string>西部证券</string>
			<key>STOCKTYPE</key>
			<string>4614</string>
		</dict>
	</array>
	<key>TZTMainGrid</key>
	<array>
		<string>TZTIndexTrend.png|行情走势|12001||||</string>
		<string>TZTMyStock.png|我的自选|12100||||</string>
		<string>TZTZongHePaiMing.png|综合排名|12002||||</string>
		<string>TZTRecent.png|最近浏览|12003||||</string>
		<string>TZTGlobalMarket.png|板块排名|12013||||</string>
		<string>TZTNewInfo.png|资讯中心|10318||||</string>
		<string>TZTStockTrade.png|委托交易|12250||||</string>
		<string>TZTOnlineServer.png|国内期货|12006||||</string>
	</array>
	<key>TZTMainGridEx</key>
	<array>
		<string>TZTRecent.png|最近浏览|3204||||</string>
		<string>TZTFinanceCenter.png|财经中心|3606||||</string>
		<string>TZTChoose.png|智能选股|3229||||</string>
		<string>TZTWarning.png|股票预警|3701||||</string>
		<string>TZTMainTrade.png|委托交易|3818||||</string>
		<string>TZTHuDong.png|互动社区|3208||||</string>
		<string>TZTOnlineServer.png|在线客服|3207||||</string>
		<string>TZTCommunity.png|服务中心|5801||||</string>
	</array>
	<key>TZTTradeGrid</key>
	<array>
		<string>TZTStockBuy.png|委托买入|3803||||</string>
		<string>TZTStockSale.png|委托卖出|3804||||</string>
		<string>TZTTradeWithdraw.png|委托撤单|3805||||</string>
		<string>TZTTradeDRCJ.png|当日成交|3824||||</string>
		<string>TZTTradeCXGP.png|查询股票|3822||||</string>
		<string>TZTTradeCXZJ.png|查询资金|3821||||</string>
		<string>TZTTradeCXJG.png|查询交割|3829||||</string>
		<string>TZTTradeCXPH.png|查询配号|3827||||</string>
		<string>TZTBankCard.png|银证转账|3841|TZTBankDealer|||</string>
		<string>TZTTradeZJLS.png|资金明细|3828||||</string>
		<string>TZTTradeDRWT.png|当日委托|3823||||</string>
		<string>TZTTradeGDZL.png|股东资料|3825||||</string>
		<string>TZTChangePW.png|修改密码|3807||||</string>
		<string>TZTTradeOut.png|退出交易|3802||||</string>
	</array>
	<key>TZTBankDealer</key>
	<array>
		<string>TZTBank2Card.png|资金转入|3808||||</string>
		<string>TZTCard2Bank.png|资金转出|3809||||</string>
		<string>TZTBankYuE.png|银行余额|3811||||</string>
		<string>TZTBankHistory.png|转账流水|3810||||</string>
	</array>
	<key>TZTToolbarDefault</key>
	<array>
		<string>首页|3200</string>
		<string>自选|3202</string>
		<string>资讯|3601</string>
		<string>交易|3818</string>
		<string>更多|3310</string>
	</array>
	<key>TZTToolbarMoreDefault</key>
	<array>
		<string>tztToolbarFWZX.png|服务中心|5801||||</string>
		<string>tztToolbarHQWarning.png|行情预警|3701||||</string>
		<string>tztToolbarTBF10.png|图表F10|3605||||</string>
	</array>
	<key>TZTToolbarMoreHQ</key>
	<array>
		<string>tztToolbarBuy.png|快速买入|3803||||</string>
		<string>tztToolbarSell.png|快速卖出|3804||||</string>
		<string>tztToolbarWithDraw.png|快速撤单|3805||||</string>
	</array>
	<key>TZTToolbarMoreUserStock</key>
	<array>
		<string>tztToolbarUpload.png|上传|3304||||</string>
		<string>tztToolbarDownload.png|下载|3305||||</string>
		<string>tztToolbarMerge.png|合并|3306||||</string>
	</array>
	<key>TZTToolbarMoreSys</key>
	<array>
		<string>tztToolbarHQSet.png|系统设置|5818||||</string>
		<string>tztToolbarCJCenter.png|财经中心|3606||||</string>
		<string>tztToolbarFWZX.png|服务中心|5801||||</string>
	</array>
	<key>TZTToolInfoList</key>
	<array>
		<string>首页|3200</string>
		<string>自选|3202</string>
		<string>预警|0</string>
		<string>资讯|0</string>
		<string>交易|0</string>
		<string>更多|3310</string>
	</array>
	<key>TZTToolbarHomePage</key>
	<array>
		<string>首页|3200</string>
		<string>自选|3202</string>
		<string>资讯|3601</string>
		<string>交易|3818</string>
		<string>服务|5801</string>
	</array>
	<key>TZTToolInfoContent</key>
	<array>
		<string>首页|3200</string>
		<string>上条|3603</string>
		<string>下条|3604</string>
		<string>资讯|3601</string>
	</array>
	<key>TZTToolUserStock</key>
	<array>
		<string>首页|3200</string>
		<string>编辑|3303</string>
		<string>预警|3701</string>
		<string>交易|3818</string>
		<string>更多|3310</string>
	</array>
	<key>TZTToolUserStockEdit</key>
	<array>
		<string>首页|3200</string>
		<string>上传|3304</string>
		<string>下载|3305</string>
		<string>合并|3306</string>
	</array>
	<key>TZTToolbarContainService</key>
	<array>
		<string>首页|3200</string>
		<string>自选|3202</string>
		<string>资讯|3601</string>
		<string>交易|3818</string>
		<string>服务|5801</string>
	</array>
	<key>TZTToolWebHudong</key>
	<array>
		<string>首页|3200</string>
		<string>关闭|3599</string>
	</array>
	<key>TZTToolWebOnline</key>
	<array>
		<string>全部提问|3307</string>
		<string>我的提问|3308</string>
		<string>客服热线|3309</string>
		<string>关闭|3599</string>
	</array>
	<key>TZTToolTradeStockBuy</key>
	<array>
		<string>确定|6801</string>
		<string>刷新|6802</string>
		<string>清空|6803</string>
		<string>切换|6804</string>
		<string>撤单|3805</string>
	</array>
	<key>TZTToolTradeLogin</key>
	<array>
		<string>添加账号|3842</string>
		<string>模拟交易|3702</string>
	</array>
</dict>
</plist>
