<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tztToolbar</key>
	<array>
		<dict>
			<key>tztToolbarItem</key>
			<string>0x00010001|home@2x.png|home_on@2x.png|首页|1||</string>
		</dict>
		<dict>
			<key>tztToolbarItem</key>
			<string>0x00010002|tzt_toolbar_homeForW@2x.png|tzt_toolbar_home_onForW@2x.png|行情|1||</string>
		</dict>
		<dict>
			<key>tztToolbarItem</key>
			<string>0x00010004|tzt_toolbar_tradeForW@2x.png|tzt_toolbar_trade_onForW@2x.png|交易|交易||</string>
		</dict>
		<dict>
			<key>tztToolbarItem</key>
			<string>0x00010003|sc@2x.png|sc_hover@2x.png|商城|商城||</string>
		</dict>
		<dict>
			<key>tztToolbarItem</key>
			<string>0x00010006|yyt@2x.png|yyt_hover@2x.png|涨停|涨停||</string>
		</dict>
	</array>
	<key>DrawName</key>
	<string>0</string>
	<key>AutoLayout</key>
	<string>0</string>
	<key>MaxDisplay</key>
	<string>-1</string>
	<key>HightImage</key>
	<string>tzt_footbarselectbg.png</string>
	<key>MarginTail</key>
	<string>0</string>
	<key>DrawNameColor</key>
	<string>0,0,0</string>
	<key>MarginHead</key>
	<string>0</string>
</dict>
</plist>
