<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TZTTradeGrid</key>
	<array>
		<string>TZTSBTrade_YXMR.png|限价买入|3901|||||||</string>
		<string>TZTSBTrade_YXMC.png|限价卖出|3902|||||||</string>
		<string>TZTSBTrade_DJMR.png|定价买入|3905|||||||</string>
		<string>TZTSBTrade_DJMC.png|定价卖出|3906|||||||</string>
		<string>TZTSBTrade_QRMR.png|成交确认买入|3903|||||||</string>
		<string>TZTSBTrade_QRMC.png|成交确认卖出|3904|||||||</string>
		<string>TZTSBTrade_HBQRMR.png|互报成交确认买入|13016|||||||</string>
		<string>TZTSBTrade_HBQRMC.png|互报成交确认卖出|13017|||||||</string>
		<string>TZTSBTrade_SBCD.png|股转撤单|3907|||||||</string>
		<string>TZTSBTrade_SBHQ.png|股转行情|3909|||||||</string>
		<string>TZTSBTrade_WTCX.png|委托查询|3908|||||||</string>
		<string>TZTTradeOut.png|退出交易|3802||||</string>
	</array>
</dict>
</plist>
