<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Show</key>
				<string>1</string>
				<key>Level</key>
				<string>0</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Image</key>
				<string>XMPP</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>backimage=login@2x.png|userinterface=0|rect=10,,30,30|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=用户登录|rect=60,,,|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Level</key>
				<string>0</string>
				<key>Image</key>
				<string>TZTMM</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>backimage=phone@2x.png|userinterface=0|rect=10,,30,30|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tzttextfield</string>
						<key>itemproperty</key>
						<string>tag=2000|title=|rect=40,,60%,|placeholder=请输入手机号码|bordercolor=255,255,255|textalignment=left|maxlen=11|keyboardtype=number|type=nodot&amp;noabc|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Level</key>
				<string>0</string>
				<key>Image</key>
				<string>TZTTXMM</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>backimage=yaoshi@2x.png|userinterface=0|rect=10,,30,30|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tzttextfield</string>
						<key>itemproperty</key>
						<string>tag=2001|placeholder=请输入手机验证码|rect=40,,60%,|bordercolor=255,255,255|textalignment=left|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>autocalcul=1</string>
	</dict>
</array>
</plist>
