<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TZTTradeGrid</key>
	<array>
		<string>TZTRZRQGrid.png|委托||tztRZRQTrade_WT||||||</string>
		<string>TZTRZRQ_WithDraw.png|委托撤单|15120|||||||</string>
		<string>;TZTRZRQTrade_HZCD.png|担保品划转撤单|15123|||||||</string>
		<string>TZTRZRQ_Query.png|查询||tztRZRQTrade_CX||||||</string>
		<string>TZTBankCard.png|银证转帐||tztRZRQTrade_YZZZ||||||</string>
		<string>TZTRZRQ_ChangePWD.png|修改密码|15018|||||||</string>
		<string>TZTTradeGDZL.png|股东列表|3969|||||||</string>
		<string>TZTTradeOut.png|退出交易|3999|||||||</string>
	</array>
	<key>tztRZRQTrade_WT</key>
	<array>
		<string>TZTStockBuy.png|普通买入|15010|||||||</string>
		<string>TZTStockSale.png|普通卖出|15011|||||||</string>
		<string>TZTRZRQ_RZBuy.png|融资买入|15012|||||||</string>
		<string>TZTRZRQ_RZSell.png|融券卖出|15013|||||||</string>
		<string>TZTRZRQ_BuyReturn.png|买券还券|15014|||||||</string>
		<string>TZTRZRQ_SaleReturn.png|卖券还款|15015|||||||</string>
		<string>TZTRZRQ_FundReturn.png|现券还券|15016|||||||</string>
		<string>TZTRZRQ_StockReturn.png|现金还款|15017|||||||</string>
		<string>TZTRZRQ_DBPHZ.png|担保划转|15020|||||||</string>
	</array>
	<key>tztRZRQTrade_CX</key>
	<array>
		<string>TZTStockTrade_NewStockCX.png|新股申购额度查询|15220||||</string>
		<string>TZTRZRQ_CXJZ.png|资金查询|15200|||||||</string>
		<string>TZTRZRQ_DRWT.png|当日委托|15121|||||||</string>
		<string>TZTRZRQ_DRCJ.png|当日成交|15201|||||||</string>
		<string>TZTRZRQ_LSWT.png|历史委托|15305|||||||</string>
		<string>TZTRZRQ_LSCJ.png|历史成交|15302|||||||</string>
		<string>TZTRZRQ_ZJLS.png|资金流水|15219|||||||</string>
		<string>TZTRZRQ_DZD.png|对账单|15301|||||||</string>
		<string>TZTRZRQ_HZCX.png|当日非交易划转|15124|||||||</string>
		<string>TZTRZRQ_FJYGHWT.png|历史非交易过户委托|15308|||||||</string>
		<string>TZTTradeCXGP.png|股份查询|15122|||||||</string>
		<string>TZTRZRQ_XYSX.png|信用上限查询|15218|||||||</string>
		<string>;TZTRZRQ_XYFZ.png|信用负债查询|15210|||||||</string>
		<string>TZTRZRQ_RZFZ.png|融资负债|15208|||||||</string>
		<string>TZTRZRQ_RQFZ.png|融券负债|15209|||||||</string>
		<string>TZTRZRQ_RZMX.png|融资明细|15211|||||||</string>
		<string>TZTRZRQ_RQMX.png|融券明细|15212|||||||</string>
		<string>TZTRZRQ_CXBDQ.png|标的证券|15206|||||||</string>
		<string>TZTRZRQ_CXBDQ.png|融资标的|15215|||||||</string>
		<string>TZTRZRQ_CXBDQ.png|融券标的|15216|||||||</string>
		<string>TZTRZRQ_DBQUERY.png|担保品证券查询|15205|||||||</string>
		<string>TZTRZRQ_CXJG.png|查询交割|15300|||||||</string>
	</array>
	<key>tztRZRQTrade_YZZZ</key>
	<array>
		<string>TZTBank2Card.png|资金转入|15100|||||||</string>
		<string>TZTCard2Bank.png|资金转出|15101|||||||</string>
		<string>TZTBankHistory.png|转帐流水|15202|||||||</string>
		<string>TZTBankYuE.png|银行余额|15102|||||||</string>
	</array>
	<key>tableproperty</key>
	<string></string>
</dict>
</plist>
