<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTJJcode</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=基金代码|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTEdit</string>
						<key>itemproperty</key>
						<string>tag=1002|title=基金代码|placeholder=请输入基金代码|maxlen=6|type=nodot|rect=,,,34|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJJName</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=基金名称|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1003|title=基金名称|rect=35%,,60%,|adjustsfontsizetofitwidth=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJJJZ</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=基金净值|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1004|title=基金净值|rect=35%,,60%,|adjustsfontsizetofitwidth=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJJFS</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=收费方式|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1005|title=收费方式|rect=35%,,60%,|adjustsfontsizetofitwidth=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTDTZQ</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=扣款周期|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1008|rect=35%,,60%,|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTKKRQ</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=扣款日期|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1009|rect=35%,,60%,|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTDTJE</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=投资金额|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTEdit</string>
						<key>itemproperty</key>
						<string>tag=1012|title=投资金额|placeholder=请输入投资金额|maxlen=9|type=noabc&amp;isnumber|rect=,,,34|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJJDTType</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=期满条件|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1007|rect=35%,,60%,|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTDTBegin</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=开始日期|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1010|rect=35%,,60%,|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTDTEND</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=结束日期|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1011|rect=35%,,60%,|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTZJQD</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=10000|title=确定|backimage=TZTButtonBackMiddle.png|rect=,,,39|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>radius=5|autocalcul=1|gridline=0|backgroundcolor=38,38,38|bordercolor=38,38,38|cellheight=40|</string>
	</dict>
</array>
</plist>
