<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=账号类别</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>tag=999|title=资金账号|placeholder=资金账号|</string>
					</dict>
				</array>
				<key>Show</key>
				<string>1</string>
				<key>Level</key>
				<string>0</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Image</key>
				<string>TZTWTLB</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTZJZH</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>backimage=login_ren@2x.png|userinterface=0|rect=10,,30,30|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>tag=1000|title=交易账号|textlen=20|placeholder=请输入交易账户|dropdelete=1|rect=,,,,|type=listEdit|keyboardtype=number|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTADDCount</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>0</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>backimage=login_ren@2x.png|userinterface=0|rect=10,,30,30|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>tag=1003|title=交易账号|textlen=20|placeholder=请选择账号|dropdelete=0|rect=,,,,|keyboardtype=number|type=listedit|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>backimage=login_yaoshi@2x.png|userinterface=0|rect=10,,30,30|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTTextField</string>
						<key>itemproperty</key>
						<string>tag=1001|placeholder=请输入交易密码|backgroundcolor=255,255,255|password=1|</string>
					</dict>
				</array>
				<key>Show</key>
				<string>1</string>
				<key>Level</key>
				<string>0</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Image</key>
				<string>TZTJYMM</string>
			</dict>
			<dict>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>backimage=login_dianhua@2x.png|userinterface=0|rect=10,,30,30|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>tag=1002|title=通讯密码|placeholder=通讯密码|type=ListSecure|dropdelete=0|</string>
					</dict>
				</array>
				<key>Show</key>
				<string>1</string>
				<key>Level</key>
				<string>0</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Image</key>
				<string>TZTTXMM</string>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTTXMMINPUT</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=|rect=10,,30,30|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTTextField</string>
						<key>itemproperty</key>
						<string>tag=2000|placeholder=请输入通讯密码|password=0|checkdata=1|backgroundcolor=255,255,255|password=1|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>autocalcul=1</string>
	</dict>
</array>
</plist>
