<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TZTTradeGrid</key>
	<array>
		<string>TZTStockBuy.png|委托买入|12310||||</string>
		<string>TZTStockSale.png|委托卖出|12311||||</string>
		<string>TZTTradeWithdraw.png|委托撤单|12340||||</string>
		<string>TZTXGSGGrid.png|新股申购||tztXGSGListSetting||||||</string>
		<string>TZTTradeCXZJ.png|查询资金|12360||||</string>
		<string>TZTTradeCXGP.png|查询股票|12342||||</string>
		<string>TZTTradeDRWT.png|当日委托|12341||||</string>
		<string>TZTTradeDRCJ.png|当日成交|12361||||</string>
		<string>TZTTradeZJLS.png|资金明细|12382||||</string>
		<string>TZTTradeCXJG.png|查询交割|12380||||</string>
		<string>TZTStockTrade_NewStockPH.png|查询配号|12381||||</string>
		<string>TZTTradeGDZL.png|股东资料|12362||||</string>
		<string>TZTTradeOut.png|退出交易|10402||||</string>
		<string>;TZTStockTrade_NewStockED.png|新股申购额度查询|12366||||</string>
		<string>;TZTStockTrade_NewStockZQ.png|新股申购中签查询|12384||||</string>
		<string>;TZTBankCard.png|银证转账|1234|TZTBankDealerSetting|||</string>
		<string>;TZTChangePW.png|修改密码|3807||||</string>
	</array>
	<key>tztXGSGListSetting</key>
	<array>
		<string>TZTStockTrade_XGSG.png|新股申购|12318|||||||</string>
		<string>TZTStockTrade_NewStockCX.png|新股申购额度查询|12366||||</string>
		<string>;TZTStockTrade_NewStockPH.png|新股申购配号查询|12381||||</string>
		<string>;TZTStockTrade_NewStockZQ.png|新股申购中签查询|12384||||</string>
	</array>
</dict>
</plist>
