<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTDM</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2000|rect=12,,210,34|keyboardtype=number|placeholder=输入证券代码|maxlen=30|maxaction=1|type=nodot|borderWidth=0|textalignment=center|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTComBox</string>
						<key>itemproperty</key>
						<string>tag=1000|placeholder=市场|backgroundcolor=233,233,233|dropbtn=0|rect=223,,70,34|textalignment=center|cornerradius=3|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJG</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=8000|backimage=TZTNavDelStock.png|rect=12,,34,34|showsTouchWhenHighlighted=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2001|keyboardtype=number|placeholder=委托价格|maxlen=9|rect=48,,210,34|type=noabc&amp;isnumber|borderWidth=0|textalignment=center|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=8001|backimage=TZTNavAddStock.png|rect=260,,34,34|showsTouchWhenHighlighted=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTSL</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=9000|backimage=TZTNavDelStock.png|rect=12,,34,34|showsTouchWhenHighlighted=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>tztedit</string>
						<key>itemproperty</key>
						<string>tag=2002|rect=48,,210,34|keyboardtype=number|placeholder=委托数量|maxlen=9|type=noabc&amp;nodot&amp;isnumber|textalignment=center|borderWidth=0|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=9001|backimage=TZTNavAddStock.png|rect=260,,34,34|showsTouchWhenHighlighted=1|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTCZ</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=6801|type=custom|title=卖出|rect=12,,120,34|backgroundcolor=67,148,255|cornerradius=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=6802|type=custom|title=刷新|rect=138,,75,34|backgroundcolor=48,49,53|cornerradius=1|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=6803|type=custom|title=清空|rect=220,,75,34|backgroundcolor= 48,49,53|cornerradius=1|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>radius=5|autocalcul=0|gridline=0|backgroundcolor=38,38,38|bordercolor=38,38,38|cellheight=40|</string>
	</dict>
</array>
</plist>
