<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tablelist</key>
		<array>
			<dict>
				<key>Image</key>
				<string>TZTJJGSMC</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=基金公司名称|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTCombox</string>
						<key>itemproperty</key>
						<string>tag=2000|placeholder=基金公司名称|checkdata=1|dropbtn=1|rect=,,,34|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJJGSDM</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=基金公司代码|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>tag=1000|title=基金公司代码|textalignment=center|rect=35%,,60%,|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTJJZH</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTLabel</string>
						<key>itemproperty</key>
						<string>text=增加基金账号|rect=,,35%,|</string>
					</dict>
					<dict>
						<key>itemtype</key>
						<string>TZTEdit</string>
						<key>itemproperty</key>
						<string>tag=3000|title =基金账号|type=nodot|rect=,,,34|</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Image</key>
				<string>TZTKYZJ</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTTextView</string>
						<key>itemproperty</key>
						<string>tag=4000|textcolor=255,125,0|enabled=0|rect=10,5,290,70|text=注：若您已经在该机构登记过账户，请输入该账户；若未在该机构登记，请您忽略此项。|</string>
					</dict>
				</array>
			</dict>
			<!--<dict>
				<key>Image</key>
				<string>TZTFX</string>
				<key>Expanded</key>
				<string>0</string>
				<key>Level</key>
				<string>0</string>
				<key>Show</key>
				<string>1</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTCheckBox</string>
						<key>itemproperty</key>
						<string>tag=7000|notitle=我已仔细阅读并同意签署|yestitle=我已仔细阅读并同意签署|checkdata=1|</string>
					</dict>
				</array>
			</dict>-->
			<dict>
				<key>Image</key>
				<string>TZTOK</string>
				<key>Show</key>
				<string>0</string>
				<key>itemarray</key>
				<array>
					<dict>
						<key>itemtype</key>
						<string>TZTButton</string>
						<key>itemproperty</key>
						<string>tag=5000|rect=,,,39|title=确 定|backimage=TZTButtonBack.png|type=custom|</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>tableproperty</key>
		<string>radius=5|autocalcul=1|gridline=0|backgroundcolor=38,38,38|bordercolor=38,38,38|cellheight=30|</string>
	</dict>
</array>
</plist>
